[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
flask-login = "*"
python-dotenv = "*"
dnspython = "*"
flask-cors = "*"
uuid = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
